#Example of MONGO_URL
MONGO_URI = YOUR_MONGO_URL

#Example of JWT_SECRET_KEY
JWT_SECRET = YOUR_SECRET_KEY

#Example of PRIVATE_KEY
IMAGEKIT_PRIVATE_KEY = YOUR_PRIVATE_KEY(IF ANY CLOUD BASED SERVICE USED FOR PICTURE/MUSIC).